**/__pycache__
*.py[cod]
.venv/
venv/
.DS_Store
.gitignore
.git/

app/__pycache__/
tests/__pycache__/
/__pycache__/
.pytest_cache/

data/datasetH.json
data/datasetS.json
data/generateDataset.py
data/generateStudents.py
data/snorkelScript.py

model/rfc_model.pkl
model/training.py

gbcSnorkelTrain.py
rfcSnorkelTrain.py